.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #7a6345c9;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,1);
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 1rem;
}
.card{
    margin-top: 6%;
    display: flex;
    justify-content: center;
}