.navbar{
    background: rgb(46, 45, 45);
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    .navbar-routes{
        width: 40%;
        display: flex;
        justify-content: space-between;
        font-size: 20px; 
        font-weight: bold; 
        letter-spacing: -1px; 
        line-height: 1; 
        .logo{
            display: flex;
        }
        .logo-image{
            width: 60px;
        }
    
        .try{
            color: #7A6345;
    
        }
    }
}
