.missions-board{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 20px;

    [type=text] {
        width: 10%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        // background-image: url('search.jpg');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        }

    .missions-row{
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 20px;

        .missions-title{
            color: #fff;
            font-family: 'Helvetica Neue', sans-serif; 
            font-size: 25px; 
            font-weight: bold; 
            letter-spacing: -1px; 
        }
        
        hr{
            width: 75%;
        }

        .missions{
            margin-top: 20px;
            width: 1000px;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            margin-left: 10%;;
            .mission{
                background-color: #987A6B;
                flex-basis: 250px;
                border-radius: 3px;
                box-shadow: 3px 3px 5px rgba(0,0,0,1);
                overflow: hidden;
                position: relative;
                height: 250px;
                margin: 1rem;
                
                .body{
                    background-color: #fff;
                    color: #22254b;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    padding: 1rem;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow: auto;
                    transform: translatey(102%);
                    transition: transform 0.3s ease-in-out;
                }
                .answer-field{
                    background-color: #6b583f;
                }
            }
            .mission-completed{
                background-color: #22254b;
            }
            .mission:hover .body{
                transform: translatey(0%);
            }
           }
    }
}