.App {
  text-align: center;
  background: linear-gradient(to right, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

.title {
  width: 200px;
  /* color: #988E6B; */
  /* text-decoration: none; */
  /* font-family: 'Helvetica Neue', sans-serif;  */
  /* font-size: 50px;  */
  /* font-weight: bold;  */
  /* letter-spacing: -1px;  */
  /* line-height: 1;  */
  /* text-align: center;  */
}